/* Fonts */
a, label{
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
}
p{
    font-family: 'Montserrat', serif;
}

/* Formulaire */
form{
    border-radius: 4px;
}

/* Messages d'erreur */
.form-group{
    position: relative;
}

/* Bouton */
button{
    background-color:#d8c15e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
}
button:hover{
    background-color:#fff38e;
}



/* Carte */
#map{
    height: 65vh;
    width: 10%;
    border-radius: 4px;
}


/* Footer */
footer{
    position: fixed;
    margin:0;
    padding:0;
    bottom:0;
    width:100%;
    background-color: #005d6e;
    color: #9fc0c6;
    text-align: center;
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15);
    min-height:22px;
}

.align-items-center{
    margin-top: 1vh;
}
.design a{
    color: #9fc0c6;
}
.design a:hover {
    text-decoration: none;
    color: #bfd6db;
}



body, .form-control{
    background-color: #F5F5F5;
}


/* Login */
/* Formulaire */
form{
    border-radius: 4px;
}

.form-group{
    position: relative;
}

.form-user {
    background-image:linear-gradient(#00BCD4, #62EFFF);
    font-family: 'Montserrat', sans-serif;
}

.card{
    box-shadow: 2px 5px 5px darkgrey;
    z-index: 4;
}

.card-header {
    color: #F5F5F5;
    background-color: #008ba3;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 3px solid rgba(160,160,160, 0.4);
}

.form-user {
    background-image:linear-gradient(#00BCD4, #62EFFF);
    font-family: 'Montserrat', sans-serif;
}

/* Boutons */
.btn{
    background-color: #d8c15e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
}

button{
    background-color:#d8c15e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.btn:hover{
    background-color:#fff38e;
    color: black;
}


.btn{
    background-color: #d8c15e;
    color: black;
}







/* CHAT MARCHE */
/*
.tuna {
    animation: walk-cycle 1s steps(12) infinite;
    background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    transform: translateZ(0); /
}

@keyframes walk-cycle {
    0% {background-position: 0 0; }
    100% {background-position: 0 -2391px; }
}
*/



/* CHAT COURSE */
.tuna {
    animation: walk-cycle 1s steps(12) 2,    walk-to-run .75s steps(12) 2s 1,     run-cycle .75s steps(13) 2.75s infinite;
    background: url(http://stash.rachelnabors.com/24ways2012/cat_sprite.png) 0 0 no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    translate3d(0,0,0);
}
@keyframes walk-cycle {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -2391px;
    }
}@keyframes walk-to-run
 {
     0% {
         background-position: -400px 0;
     }
     100% {
         background-position: -400px -2391px;
     }
 }
@keyframes run-cycle {
    0% {
        background-position: -800px 0;
       }
    100% {
        background-position: -800px -2591px;
       }
}

@keyframes walk-to-run {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: -400px -2391px;
    }
}@keyframes run-cycle {
     0% {
         background-position: -800px 0;
     }
     100% {
         background-position: -800px -2591px;
     }
 }


/* FOND MONTAGNES */
.foreground, .midground, .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    translate3d(0,0,0);
}

.foreground {
    animation: parallax_fg linear 10s infinite both;
    background:  url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
    z-index: 3;
}

@keyframes parallax_fg {
    0% { background-position: -3584px 100%;}
    100% {background-position: 0 100%; }
}

.midground {
    animation: parallax_mg linear 20s infinite;
    background:  url(http://stash.rachelnabors.com/24ways2012/midground_grass.png) 0 100% repeat-x;
    z-index: 2;
}

@keyframes parallax_mg {
    0% { background-position: -3000px 100%;}
    100% {background-position: 0 100%; }
}

.background {
    background-image:
            url(http://stash.rachelnabors.com/24ways2012/background_mountain5.png),
            url(http://stash.rachelnabors.com/24ways2012/background_mountain4.png),
            url(http://stash.rachelnabors.com/24ways2012/background_mountain3.png),
            url(http://stash.rachelnabors.com/24ways2012/background_mountain2.png),
            url(http://stash.rachelnabors.com/24ways2012/background_mountain1.png);
    /*background-image:*/
            /*url(https://image.noelshack.com/fichiers/2018/21/5/1527233299-background-mountain511.png),*/
            /*url(https://image.noelshack.com/fichiers/2018/21/5/1527233299-background-mountain411.png),*/
            /*url(https://image.noelshack.com/fichiers/2018/21/5/1527233299-background-mountain311.png),*/
            /*url(https://image.noelshack.com/fichiers/2018/21/5/1527233299-background-mountain211.png),*/
            /*url(https://image.noelshack.com/fichiers/2018/21/5/1527233299-background-mountain111.png);*/
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 40s infinite;
}

@keyframes parallax_bg {
    100% {
        background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;
    }
}


body {
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
    #d2d2d2 url(http://stash.rachelnabors.com/24ways2012/background_clouds.png);
}



/* Carte */
#map{
    height: 65vh;
    width: 10%;
    border-radius: 4px;
}


/* Footer */
footer{
    position: fixed;
    margin:0;
    padding:0;
    bottom:0;
    width:100%;
    background-color: #005d6e;
    color: #9fc0c6;
    text-align: center;
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15);
    min-height:22px;
}

.align-items-center{
    margin-top: 1vh;
}
.design a{
    color: #9fc0c6;
}
.design a:hover {
    text-decoration: none;
    color: #bfd6db;
}
