
#editContent{
    margin-top:20px;

}

/* Aside */
.slideLst{
display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

/* border:1px solid lightgrey; */
overflow-x: scroll;
height:500px;
}
.btnAddSlide{
    background-color:#a4912f;
    border-color:#a4912f;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: white;
}
.btnAddSlide:hover{
    background-color:#fff38e;
    border-color:#fff38e;
    color: #00bcd4;
}




.slideItem{
    margin-left:20px;
    width:80px;
    height:80px;
    border:1px solid black;
    margin-top:4px;
}

.slideItem:hover{
    background-color:lightyellow;
}

.elementItem{
    background-color:lightgrey;

}

.elementItem:hover{
    background-color:lightgreen;
    cursor:pointer;

}

.elementLst{

    margin-bottom:10px;
}


/* Icones outils */
.toolItem{
    background-color:#62efff;
    border-radius: 4px;
    font-size:22px;

    /* margin:0;
    margin-right:3px;
    margin-bottom:3px;
    padding:0;
    height:32px;
    width:32px;
    text-align:center; */
}





.toolItem:hover{
    background-color:lightgreen;
    cursor:pointer;

}

.b{
    border:1px solid red;
}

.title1{
    font-size:16px;
    font-weight:bold;
    background:lightcoral;

}

.elementOptions{
    background-color:lightgoldenrodyellow;
    height:150px;
}


.preview{
    background-color: grey;
    height:50vh;
}

.locItem{
    margin-top:4px;
}

.btn-addLoc{
    margin-top:10px;
}

/* Gouttières entre blocs */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  {
    .container{
        max-width: 95%;
        }
 }


