.img{
    background: url("https://www.bdgest.com/images/nexus/_Bravo01.jpg") no-repeat;
    height: 60em ;
}
.gg h2 {
    font-size: 3em ;
    text-align: center;
}
.gg h1{
    font-size: 4em;
    text-align: center;
}
.gg{
    text-align: center;
}