/* Fonts */
a, label{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;

}
p{
    font-family: 'Montserrat', serif;
}

/* Formulaire */
form{
    background-color: #00bcd4;
    border-radius: 4px;
}
/* Messages d'erreur */
.form-group{
    position: relative;
}

/* Bouton Input "range" */
.custom-range {
    background-color: #d8c15e;

}


/* Bouton "submit" Formulaire */
.btn-form{
    background-color:#d8c15e;
    border-color:#d8c15e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: white;
}
.btn-form:hover{
    background-color:#fff38e;
    border-color:#fff38e;
    color: #00bcd4;
}



/* Carte */
#map{
    height: 65vh;
    width: 10%;
    border-radius: 4px;
}







/* Footer */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color: #005d6e;
    color: #9fc0c6;
    text-align: center;
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15);
}
.align-items-center{
    margin-top: 1vh;
}
.design a{
    color: #9fc0c6;
}
.design a:hover {
    text-decoration: none;
    color: #bfd6db;
}

